# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment
# =========================
.env
.env.*
config.env

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*

# =========================
# Uploads / Static
# =========================
uploads/
public/uploads/

# =========================
# Build / Cache
# =========================
dist/
build/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor
# =========================
.vscode/
.idea/
